To install dplyr package and use it

In [1]:
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

To install RSQLite package and use it

In [2]:
library(RSQLite)

In [58]:
connSQLite = dbConnect(dbDriver("SQLite"),
  dbname = "players_db")

To read the csv files

In [59]:
player_data<-read.csv("player.csv", header = TRUE)

In [72]:
team_data<-read.csv("team.csv", header = TRUE)

In [61]:
dbWriteTable(connSQLite, "players", player_data)
rm(player_data)

[1] TRUE

In [62]:
dbWriteTable(connSQLite, "teams", team_data)
rm(team_data)

[1] TRUE

To get top 10 players by overall rating

In [63]:
dbGetQuery(connSQLite, "SELECT player_api_id, player_name, overall_rating
    FROM players 
    ORDER BY overall_rating desc
    LIMIT 10;")

   player_api_id player_name       overall_rating
1  30981         Lionel Messi      94
2  30717         Gianluigi Buffon  93
3  30829         Wayne Rooney      93
4  30893         Cristiano Ronaldo 93
5  39854         Xavi Hernandez    92
6  39989         Gregory Coupet    92
7  30626         Thierry Henry     91
8  30627         John Terry        91
9  30657         Iker Casillas     91
10 30723         Alessandro Nesta  91

To get top 10 goalkeepers by sum of gk attributes

In [64]:
dbGetQuery(connSQLite, "SELECT player_api_id, player_name, gk_attributes 
    FROM players 
    ORDER BY gk_attributes DESC
    LIMIT 10;")

   player_api_id player_name       gk_attributes
1   30717        Gianluigi Buffon  449
2   39989        Gregory Coupet    447
3   30859        Petr Cech         445
4   30657        Iker Casillas     442
5   27299        Manuel Neuer      440
6   30989        Julio Cesar       438
7   24503        Sebastian Frey    437
8   30726        Edwin van der Sar 436
9  182917        David De Gea      429
10  30622        Paul Robinson     426

To get top 10 players by number of appearances (with any team they played with)

In [65]:
dbGetQuery(connSQLite, "SELECT player_api_id, player_name, player_appearance 
    FROM players 
    ORDER BY player_appearance DESC
    LIMIT 10;")

   player_api_id player_name          player_appearance
1  31293         Steve Mandanda       300
2  41097         Stephane Ruffier     294
3  33764         Gorka Iraizoz Moreno 286
4  42422         Samir Handanovic     286
5  26295         Hugo Lloris          282
6  31465         Tim Howard           282
7  31432         Joe Hart             275
8  26168         Cedric Carrasso      268
9  26399         Daniel Congre        262
10 94550         Moussa Sissoko       260

To get top 10 players by number of leagues they played in

In [66]:
dbGetQuery(connSQLite, "SELECT player_api_id, player_name, league_appearance 
    FROM players 
    ORDER BY league_appearance DESC
    LIMIT 10;")

   player_api_id player_name           league_appearance
1   42119        Gelson Fernandes      6
2  116750        Ricky van Wolfswinkel 5
3  178538        Filip Djuricic        5
4   22543        Radamel Falcao        4
5   24123        Jonathan De Guzman    4
6   25816        Almen Abdi            4
7   26434        Ibrahim Afellay       4
8   26489        Edson Braafheid       4
9   26675        Eljero Elia           4
10  30477        Danijel Pranjic       4

To get top 10 teams by sum of build up play attributes

In [67]:
dbGetQuery(connSQLite, "SELECT team_api_id, team_long_name, buildUp_Attributes 
    FROM teams 
    ORDER BY buildUp_Attributes DESC
    LIMIT 10;")

   team_api_id team_long_name    buildUp_Attributes
1   9931       FC Basel          170
2   9925       Celtic            156
3   8633       Real Madrid CF    153
4   8640       PSV               153
5   8455       Chelsea           144
6  10260       Manchester United 124
7   8456       Manchester City   123
8   8634       FC Barcelona      122
9   8593       Ajax              117
10  9823       FC Bayern Munich   97

To get top 10 teams by sum of chance creation attributes

In [68]:
dbGetQuery(connSQLite, "SELECT team_api_id, team_long_name, chanceCreation_Attributes
    FROM teams 
    ORDER BY chanceCreation_Attributes DESC
    LIMIT 10;")

   team_api_id team_long_name    chanceCreation_Attributes
1   9931       FC Basel          186
2   8633       Real Madrid CF    165
3   9925       Celtic            164
4   8593       Ajax              143
5   8634       FC Barcelona      141
6  10260       Manchester United 133
7   8640       PSV               125
8   8455       Chelsea           119
9   8456       Manchester City    98
10  9823       FC Bayern Munich   90

To get top 10 teams by sum of defense attributes

In [69]:
dbGetQuery(connSQLite, "SELECT team_api_id, team_long_name, defense_Attributes 
    FROM teams 
    ORDER BY defense_Attributes DESC
    LIMIT 10;")

   team_api_id team_long_name    defense_Attributes
1   8634       FC Barcelona      191
2   9823       FC Bayern Munich  184
3   8593       Ajax              176
4   8633       Real Madrid CF    175
5   9925       Celtic            169
6  10260       Manchester United 163
7   9931       FC Basel          158
8   8456       Manchester City   149
9   8640       PSV               128
10  8455       Chelsea           126

To get top 10 teams by number of fielded players (i.e. number of players the team has sent to the field across all matches)

In [71]:
dbGetQuery(connSQLite, "SELECT team_api_id, team_long_name, scored_goals 
    FROM teams 
    ORDER BY scored_goals DESC
    LIMIT 10;")

   team_api_id team_long_name    scored_goals
1   8634       FC Barcelona      849
2   8633       Real Madrid CF    843
3   9925       Celtic            695
4   9823       FC Bayern Munich  653
5   8640       PSV               652
6   8593       Ajax              647
7   9931       FC Basel          619
8   8456       Manchester City   606
9   8455       Chelsea           583
10 10260       Manchester United 582